body {
    background-color: #070707;
    color: white;
    font-family: 'Baskervville SC', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 20px;
}

button {
    background-color: #722E2E;
    color: white;
    font-family: 'Baskervville Sc', serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;

}